.container{
  display: flex;
  width: 1000px;
  margin: 0;
  border: 0;
  padding: 0;

}

.container-func{
  padding: 20px;
  background-color: rgb(224,255,255);
  width: 800px;
}

.container-func-table{
  background-color: white;
  margin: 20px;
}

.nav-bar {
  padding: 20px 0;
  background-image: linear-gradient( rgb(25,25,112) , rgb(70,130,180));
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-nav-bar{
  margin: 20px 0;
  border: 20px;
  background-color: rgb(0,0,128);
  color:white;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.row-container{
  display: absolute;
  
}

.row-item{

}
