.content{
  display: flex;
  width: 100%;
  margin: 0;
}

.header-container{
  display: flex;
  flex-direction: row;
  color: white;
  height: 70px;
}

.header-background{
  background-image: linear-gradient(to right, rgba(8,77,110,0.7), rgba(25,25,112,0.1) ), url('/src/Images/headerImage.png');
  
  width: 100%;
  background-position: 20% 95%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.image-container img {
  max-width: 100%;

}


.main-container{
  padding: 15px;
  background-color: #f0f0f0;
  width: 100%;

}

.main-container h5{
  padding: 10px 25px 0 25px;
  color: rgb(8,77,110);
  
}

.underline-title{
  width: 92%;
  height: 2px;
  background-color: rgba(8,77,110,0.7);
  align-self: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.main-container-table{
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  height: 750px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
}

.nav-bar {
  padding: 20px 0;
  background-image: linear-gradient(rgb(8,77,110) , rgb(0,191,255));
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-nav-bar{
  margin: 5px 0;
  padding: 5px 20px;
  color:white;
}

.adm-item-nav{
  background-color: rgb(8,77,110);
}

.input-container {
  display: flex;
  flex-direction: row;
}

.row-container{
  /* display: flex; */
  flex-direction: row;
  flex-wrap: nowrap;
}

.edit-input{
  max-width: 150px;
}

.row-last-child{
  width: 110px;
}

.table {
  max-width: 400px;

}

.table-header{
  background-color: rgb(8,77,110);
}

.user-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-item {
  font-size: small;
  padding: 5px;

}
.name-user-item{
  font-size: x-small;
}

p {
  margin: 0;
}

.add-button{
  margin-left: 10px;
  margin-top: 15px;
  max-height: 30px;
  width: 30px;
  align-self: center;
}

